button {
    background: #fff;
    border: none;
    outline: none;
    padding: 2% 4%;
    border-radius: 20px;
    color: #6A5F5D;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    scroll-behavior: smooth;
}

.btn-wrapper {
    display: flex;
    margin: 8% 0;
}