li.card {
    background: #fff;
    color: #000;
    margin: 4% 0;
    padding: 6%;

    h4 {
        line-height: 3em;
        font-size: 1.8em;
    }

    p {
        line-height: 3em;
    }
    button {
        border: 2px solid #957F74;
        margin: 20px auto;
    }
}

@media only screen and(min-width: 900px) {
    ul.cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2%;
    }

    li.card p {
        line-height: 1.4em;
    }

}